.destaque{
    margin-top: 5px;
}

.divtopdefault{
    background-color: black;
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 3px darkgray;
}

.imgdiv{
    width: 280px;
    height: 380px;
    margin-left: auto;
    padding: 13px;
    margin-right: auto;
    margin-top: -26px;
    margin-bottom: -25px;
    
}

.divtop{
    margin-top: 13px;
    margin-left: 20px;
    margin-bottom: 5px;

    
}

.cardheader{
    background-color: dimgray;
    color: ghostwhite;
}

.cardfooter{
    background-color: lightgray;
}

.cardbody{
    margin: 0 -15px;
}